ul {
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    list-style-type: none;
    background-color: #E97923;
    display: block;
    text-align: left;
    color: white;
    font-family: 'Asap', sans-serif;
    
}

li {
    display: inline;
    padding: 2em;
    font-size: 2em;
    text-decoration: none;
}

#body {
    font-family: 'Beau Rivage', cursive;
    font-size: 1.7em;
    text-align: center;
    padding: .5em;
    background-color: #5c72c9;
    color: white;
}

#projects {
    padding: .8em;
}

#resume {
    padding: .8em;
}